.container {
  height: 200px;
  position: relative;
  /* border: 3px solid green; */
}

body {
  background-color: fc8400;
  font-family: 'Lilita One'
}

h1 {
  text-align: center;
  font-size: 100;
}

p {
  font-size: 100;
  text-align: center;
  color: rgb(6, 179, 43);
}

button {
  cursor: pointer;
  margin: 5px;
  border: 4px double #cccccc;
  border-radius: 200px;
  font-size: 28px;
  display: inline-block;
  background-color: #fa0b0b;
  padding: 20px;
  width: 200px;
  height: 200px;
  color: #ffffff;
  text-align: center;
  
  -webkit-transition: all 0.5s; 
  -moz-transition: all 0.5s; 
  -o-transition: all 0.5s; 
  transition: all 0.5s;
}

button.reset {
  align-content: right;
  background-color: #d61122;
}

.vertical-center {
  margin: 0;
  position: absolute;
  top: 50%;
  -ms-transform: translateY(-50%);
  transform: translateY(-50%);
}

.center {
  margin: 0;
  position: absolute;
  top: 50%;
  left: 50%;
  -ms-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
}

button:hover {
  background-color: green;
}

#clock {
  font-size: 120px;
}